<div id="headerA">
    <div class="logo">Logo</div>
    <div class="search">Search

    </div>
    <div class="menu">
        <!-- <el-row>
             <el-button>button-1</el-button>
             <el-button>button-2</el-button>
             <el-button></el-button>
             <el-button>Статья</el-button>
             <el-button>Раздел</el-button>
         </el-row>-->
        <el-row class="block-col-2">
            <el-col :span="12">
                <el-dropdown trigger="click">
            <span class="el-dropdown-link">
              Dropdown List<i class="el-icon-arrow-down el-icon--right"></i>
            </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item icon="el-icon-plus">Action 1</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-circle-plus">Action 2</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-circle-plus-outline">Action 3</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-check">Action 4</el-dropdown-item>
                        <el-dropdown-item icon="el-icon-circle-check">Action 5</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
    </div>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
