<div id="header">
    <header class="gx-header grid"
            style="">
        <div class="header-content grid">
            <h1>Show Galaktika</h1>
            <h2>KENNEL</h2>
            <h3>Chinese Crested Dog</h3>
            <div class="header-button">
                <a href="/login" class="p-button puppy">Login</a>
                <a href="/" class="p-button p-button-blue">Registration</a>
            </div>

        </div>
    </header>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
