<ul class="sidenav">
    <li><a class="waves-effect waves-teal btn-flat" href="/">Статистика</a></li>
    <li><a class="waves-effect waves-teal btn-flat" href="/">Статья</a></li>
    <li><a class="waves-effect waves-teal btn-flat" href="/">Раздел</a></li>
</ul>

