<div id="categories-home" v-cloak>
    <article id="mainArticle">
        <div id="title">
            <h1>Разделы</h1>
            <h6><em>{{help.title}}</em></h6>

            <hr>
        </div>
        <div id="left">
            <h2>Создать</h2>
            <em>{{help.create}}</em>

            <section class="form-create">
                <el-form :label-position="me.settings.form.position" :model="ruleForm" :rules="rules" ref="ruleForm"
                         label-width="100px" class="demo-ruleForm">
                    <el-form-item label="Название" prop="name">
                        <el-input v-model="ruleForm.name" :maxlength="maxLength" show-word-limit></el-input>
                    </el-form-item>
                    <el-form-item label="URL" prop="url">
                        <el-input v-model="ruleForm.url"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">Отправить</el-button>
                        <el-button @click="resetForm('ruleForm')">Очистить</el-button>
                    </el-form-item>
                </el-form>
            </section>


        </div>
        <div id="right">
            <h2>Редактировать</h2>
            <em>{{help.edit}}</em>
            <section class="form-create">
                <el-form :label-position="me.settings.form.position" :model="ruleForm" :rules="rules" ref="ruleForm"
                         label-width="100px" class="demo-ruleForm">
                    <el-form-item label="Название" prop="name">
                        <el-input v-model="ruleForm.name" :maxlength="maxLength" show-word-limit></el-input>
                    </el-form-item>
                    <el-form-item label="URL" prop="url">
                        <el-input v-model="ruleForm.url"></el-input>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="submitForm('ruleForm')">Отправить</el-button>
                        <el-button @click="resetForm('ruleForm')">Очистить</el-button>
                    </el-form-item>
                </el-form>
            </section>
        </div>
    </article>
    <div class="settings">
        <el-button @click="drawer = true" type="success" round plain icon="el-icon-setting"
                   style="width: 80px; padding-right: 60px; padding-left: 15px"></el-button>
    </div>

    <el-drawer
            title="I am the title"
            :visible.sync="drawer"
            :with-header="false">
<h3>Настройки</h3>
        <section >
            <h5>Положение форм</h5>
            <el-radio-group v-model="me.settings.form.position" size="small" @change="formPosition()">
                <el-radio-button    label="left">Left</el-radio-button>
                <el-radio-button   label="right">Right</el-radio-button>
                <el-radio-button   label="top">Top</el-radio-button>
            </el-radio-group>
        </section>
    </el-drawer>

    <kedr-header></kedr-header>
    <kedr-navbar :current-section="currentSection"></kedr-navbar>
    <kedr-sidebar></kedr-sidebar>
    <kedr-footer></kedr-footer>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
