<div id="articles-home" v-cloak>
    <article id="mainArticle">
    <div id="title">
        <h1>Статьи </h1>
        <h6><em>{{help.title}}</em></h6>
        <hr>
    </div>
    <div id="left">
        <h2>Создать</h2>
        <em>{{help.create}}</em>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolore earum error est eveniet, excepturi,
            fugiat hic itaque laborum molestiae placeat porro quasi quibusdam repudiandae rerum saepe temporibus
            voluptatem,
            voluptates?</p>
        <p>Alias, dolorem ex fugit itaque laborum minima mollitia nulla quae quo veritatis. Commodi cumque eos eum
            eveniet
            ex explicabo harum ipsum molestiae molestias natus non nostrum numquam, rem rerum, sunt.</p>
        <p>At aut autem blanditiis consequatur corporis cumque, eaque earum eius esse id maiores, modi natus
            necessitatibus
            nulla possimus provident qui quibusdam quo recusandae repudiandae sunt tempora tempore temporibus ut
            voluptatem!</p>
        <p>Ad alias aliquid cumque dolorum, ex facere illum iusto modi natus, nulla perferendis quae quaerat, repellat
            repellendus suscipit. Cupiditate deserunt ipsa quos reprehenderit repudiandae. Alias asperiores laborum nisi
            voluptatem voluptatibus.</p>
        <p>Beatae eaque ex impedit neque velit? Accusamus autem blanditiis corporis dolore et modi nam natus placeat
            voluptatum. Adipisci consectetur incidunt ipsa itaque neque officiis quidem? A autem ex obcaecati saepe?</p>
        <p>Accusantium, at dignissimos eum eveniet fuga harum hic illo inventore iste molestiae quos ratione totam ut
            vel
            veniam vero voluptatem. Amet consequatur dignissimos facilis iure nulla porro reiciendis tempora
            voluptates.</p>
        <p>Aliquam animi consequuntur cumque cupiditate dignissimos dolorem dolorum ex excepturi, facilis fugiat hic
            illo
            iusto laboriosam magni nemo nulla optio possimus quaerat quasi quis quod ratione, rem sequi sint veniam?</p>
        <p>Ab harum laborum modi, neque numquam officia quidem recusandae saepe tempora ullam. Dolorem enim, est
            excepturi
            hic nobis quia sint? Amet deserunt dolor impedit mollitia nihil ratione tempore totam velit!</p>
        <p>Doloremque earum incidunt, nemo officia qui quis ratione reprehenderit similique. Beatae cupiditate dolor
            enim
            eum expedita harum, in natus provident quaerat reprehenderit veritatis vero voluptatem voluptatibus! Aliquid
            aperiam atque aut.</p></div>
    <div id="right">
        <h2>Редактировать</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, mollitia.</p>
        <p>Ad in molestias nemo nesciunt nobis sint sit vitae, voluptates?</p>
        <p>Aliquid corporis cum dicta distinctio eveniet, inventore nobis perferendis vel!</p>
        <p>Adipisci aspernatur autem dolore inventore sit suscipit tempora temporibus, vitae!</p>
        <p>Alias, blanditiis consectetur inventore ipsa natus quas quos suscipit voluptatum?</p>
        <p>Ab cum dolor illo mollitia praesentium saepe sequi ut voluptatibus.</p>
        <p>Alias aperiam commodi dolor eius inventore molestias nam nostrum, qui?</p>
        <p>Dolor id, ipsa iste necessitatibus possimus quas quasi repellendus sequi.</p>
        <p>Aperiam facilis neque voluptatum. Aspernatur eligendi fugiat ipsam mollitia rem.</p>
        <p>Aut et explicabo totam veniam voluptatum. Earum numquam veritatis vero!</p>
    </div>
    </article>
    <kedr-header></kedr-header>
     <kedr-navbar :current-section="currentSection"></kedr-navbar>
    <kedr-sidebar></kedr-sidebar>
    <kedr-footer></kedr-footer>


</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
