<div id="homepage" v-cloak>
  <div id="wrapper" class="pink lighten-4 front-layout ">
    <div class="container">
      <g-header/>
<!--      <g-menu/>-->
      <div class="section white" >
        <div class="row">

        </div>
      </div>
<!--      <g-footer/>-->
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
