<div id="homepage" v-cloak>
     <div class="menu-home grid">
         <div class="box-item">
             <a href="#"> <span>Главная</span></a></div>
         <div class="box-item"><a href="#"><span>Новости</span></a></div>
         <div class="box-item"><a href="#"><span>Кобели</span></a></div>
         <div class="box-item"><a href="#"><span>Суки</span></a></div>
         <div class="box-item"><a href="#"><span>Щенки</span></a></div>
         <div class="box-item"><a href="#"><span>Грумминг</span></a></div>
         <div class="box-item"><a href="#"><span>Медиа</span></a></div>
         <div class="box-item"><a href="#"><span>Услуги</span></a></div>
         <div class="box-item"><a href="#"><span>Контакты</span></a></div>
     </div>



    <section class="portfolio-section grid">
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/1.jpg)"><span>Чемпионат Европы 2015 </span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/2.jpg)"><span>Выставка НКП</span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/3.jpg)"><span>Чемпионат Мира 2016 (WDS)</span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/4.jpg)"><span>CAC в парке «Сокольники»</span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/5.jpg)"><span>Евразия 2018 </span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/6.jpg)"><span>Выставка «Золотой Ошейник» 2010 </span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/7.jpg)"><span>Выставка Россия 2015 </span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/8.jpg)"><span>Выставка Россия 2019 </span>
        </div>
        <div class="portfolio-item grid"
             style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/9.jpg)"><span>Выставка Россия 2020 </span>
        </div>
        <div class="button-case mx-auto">
            <a href="" class="button">Портфолио</a>
        </div>
    </section>

    <section class="section-ready landing-section">
        <div class="container grid">
            <div class="ready-left">
                <h2>Особенности и разнообразие

                    породы китайская хохлатая</h2>
                <p>На рингах, на фото, на улице и даже в кино можно встретить необыкновенно красивых, с прекрасной
                    гривой голых собак, и совершенно других голых собачек у которых совсем мало волос. Если Вы решили
                    приобрести голого представителя китайской хохлатой собаки, то Вам необходимо определиться, с какой
                    <a href="">читать дальше...</a></p>
            </div>
            <div class="ready-right">
                <img src="https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/dogs.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </section>

    <section class="form-section">
        <div class="container">
            <form class="grid">
                <div><input type="text" name="" placeholder="you name" required></div>
                <div><input type="text" name="" placeholder="you name" ></div>
                <div><input type="text" name="" placeholder="you name" ></div>
                <div>
                    <div><a href="#" class="button">Подписаться</a></div>
                </div>
            </form>
        </div>
    </section>


    <section class="landing-section section-blog">
        <div class="container">
            <h2>Lorem ipsum dolor sit amet, consectetur.</h2>

            <div class="blog-home grid">
                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/1.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>

                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/2.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>

                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/3.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>

                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/4.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>

                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/5.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>

                <a href="" class="blog-item grid">
                    <span class="blog-item-img" style="background-image:url(https://d3a1wbnh2r1l7y.cloudfront.net/show_galaktika/services/6.jpg)"></span>
                    <span class="blog-item-content grid">
                        <h4>Lorem ipsum dolor sit amet.</h4>
                       <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias omnis, perspiciatis! Ab ad aliquam animi deleniti esse fuga illo in iure libero minus, nam omnis pariatur quis repudiandae suscipit ut.</p>
                    </span>
                </a>
                <div class="button-case mx-auto">
                    <a href="" class="button">Блог</a>
                </div>
            </div>
        </div>
    </section>
<footer class="main-footer">
    <div class="container">
        <div class="footer-logo">
            Design of <span><a href="//lphp.ru">lphp.ru</a></span><span>2020</span>
        </div>
        <div class="footer-copy">~&copy;~</div>
    </div>
</footer>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
